$banner-height: (
    null: 60vw,
    sm: 35vmax,
    lg: 40vmax, 
    xl: 35vmax
);
.banner-div {
    background-color: black;
}
.banner { 
    background-position: top center;
    opacity: 0.65;
    @include min-width(lg) { opacity: 0.44;}
    @include height($banner-height);
}
.banner-text {
    padding: 20px 0;
    line-height: normal;
    background-color: $banner-text-bg-mobile;
    position: relative;
    @include min-width(lg) {position:absolute;}
    h2 { 
        letter-spacing: 1px;
        @include min-width(xl) { letter-spacing: 2px;}
    }     
}
@include min-width(lg) {
    .banner-text {
        background-color: $banner-text-bg;
    }
}