button {
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}
.button {
    /* extends btn if bootstr loads first */
    letter-spacing: .5px;
    text-transform: uppercase;
    i {
        color: white;
    } 
}
.enroll-button {
    font-size: 18px;
    padding: 9px 16px;
    margin: 0 0 5px 0;
    @include min-width(lg) {margin:0;}
    @include min-width(xl) {        
        font-size: 20px;
        padding: 7px 20px 10px 20px;
    }
    background-color: $enroll-btn-color;    
    &:hover {
        background-color:#729731;
    }
}
.apply-button {
    background-color: $apply-btn-color;
    padding: 8px 9px;
    font-size: 17px;
    @include min-width(xl) {        
        font-size: 20px;
        padding: 5px 9px;
    }
    &:hover {
        background-color:#e27917;
    }
}
.collapse-button {
    background-color: $collapse-btn-color;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    font-size:18px;
    @include min-width(md) {
        width: 40px;
        height: 40px;
        font-size:20px;
    }
    &:hover {
        background-color:#254f9c;
    }
}