body{    
    color: $main-color;
    .banner-div {
        h2, p { color:white; }
    }    
    .icons-map {
        h3, p, .arrow::after { color: $main-color; }
    }
    a, header, footer, footer p, footer a {
        color: $link-color;
        &:hover {
            color: #474747; 
        }
    }
    .hero {
        h2, p { color: white; }
    }
}