body{
/* header */
    /* login */
    .login-header {
        ul {
            font-size: 14px;
            @include min-width(xl) {font-size: 16px;} 
        }
        .fa-user, .fa-phone {  
            font-size: 17px;
        }
    }
    /* main menu */
    .main-header {
        ul {
            font-size: 17px;
            @include min-width(xl) {font-size: 18px;}
        }
    }
    /* overlay menu */
    .close-btn {
        font-size: 25px;
        @include min-width(sm) {font-size: 35px;}
        @include min-width(md) {font-size: 38px;}
    }
    .overlay-content {
        font-size: 18px;
        @include min-width(sm) {font-size: 22px;}
    }
/* sections */
    /* banner */
    .banner-text {
        p {
            font-size: 16px;
            @include min-width(md) {font-size:17px;}
            @include min-width(lg) {font-size:18px;}
        }
    }
    /* icons map */
    .icons-map {
        .map-icon {
            font-size: 1.6em;
            @include min-width(sm) {font-size: 2em;}
            @include min-width(md) {font-size: 3.5em;}
            @include min-width(lg) {font-size: 4em;}
            @include min-width(xl) {font-size: 6em;}
        }
        .arrow::after {
            @include min-width(sm) {font-size: .8em;}
            @include min-width(md) {font-size: 1em;}
            @include min-width(xl) {font-size: 1.5em;}
        }
        p {
            font-size: 16px;
            @include min-width(md) {font-size:20px;}
            @include min-width(lg) {font-size:25px;}
            @include min-width(xl) {font-size:30px;}
        }
    }
    /* hero image */
    .hero {
        p {
            font-size: 16px;
            @include min-width(md) {font-size:18px;}
            @include min-width(lg) {font-size:20px;}
            @include min-width(xl) {font-size:24px;}
        }
    }
/* footer */
    /* main */
    .footer-top {
        .footer-logo p {
            font-size: 19px;
            @include min-width(xl) {font-size: 24px;}
        }
        .logo-replacement p {
            font-size: 17px;
        }
        ul {
            font-size: 15px;
            @include min-width(lg) {font-size:16px;}
        }
    }
    /* copyrights */
    .footer-last {
        a {
            font-size: 12px;
            @include min-width(lg) {font-size:13px;}
        }
    }
}