.footer-top {      
    &:nth-child(2) {
        li:last-clild{
            padding-top: 2em;
        }
    }
    ul{
        padding: .3em 0 0 0; 
    }
    li {
        padding-bottom: .3em;
    }
    li:last-child {
        padding-bottom: 0;
    }   
}
.footer-last {
    background-color: $top-navigation-bg;
    .footer-last-navigation {
        li {           
            display: block; 
            padding: 0 0 .2em 0;
        }
    }
    .footer-last-copyright {
        color: #7c7c7c; 
    }
}
@include min-width(sm) {
    .footer-top {
        ul{
            padding: 0; 
            margin: 0;
        }
    }
    .footer-last {
        .footer-last-navigation {
            li {
                display: inline-block;
                padding: 0 1em 0 0;
            }
        }
    }
}
@include min-width(md) {
    .footer-logo {
        align-self: center;
    }
}
@include min-width(lg) {
    .footer-top 
    {
        li {
            padding-bottom: 0;
        }
    }
    .footer-last {
        .footer-last-navigation {
            li:last-child {
                padding: 0;
            }
        }
        .footer-last-copyright {
            color: $link-color;
        }
    }
}