/* lists */
ul li{
    list-style: none;
    padding:0;
    margin:0;
}
/* links */
a{
    cursor: pointer;  
}
ul li a, div a {
    &:hover {
        text-decoration: none;
    }
}
/* hero sections background general  /if bg-position:fixed --> parallax */ 
.hero-bg {
    background-repeat: no-repeat;
    background-attachment: scroll;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* fonts */
body {
    h2, .h2 {
        font-size:30px;
        padding: 0;
        margin:0;
        @include min-width(md){
            font-size:35px;
        }
        @include min-width(lg){
            font-size:40px;
        }
        @include min-width(xl){
            font-size:56px;
        }
    }
    h3, .h3 {
        font-size:23px;
        padding: 0;
        margin: 0;
        @include min-width(sm){
            font-size:25px;
        }
        @include min-width(md){
            font-size:30px;
        }
        @include min-width(xl){
            font-size:40px;
        }
    }
}
/* logo */
.logo {
    img {
        max-height: 70px;
        @include min-width(md) {
            max-width: 155px;
            max-height: 100px; 
        }
    }
}
.footer-logo {
    img {
        max-width: 150px;  
        @include min-width(xl) {    
            max-width: 202px;
            max-height: 127px;
        }     
    }
}
.t0 {
    top: 0;
}
.r0 {
    right:0;
}
.b0 {
    bottom:0;
}
.text-semi-bold { 
    font-weight: 600; 
}























