header {      
    a {
        text-transform: uppercase;         
    }
    .login-header {
        background-color: $top-navigation-bg;
        padding: 10px 0;    
        li { 
            padding: 0px 0px 0px 15px;
        }
        #user-text {
            color:$login-color; 
            &:hover {
                color: #335701;
            }
        }
        .fa-user, .fa-phone { 
            color: $login-icons-color;                                                       
        }  
    }
    .main-header {
        padding: 15px 0px;
    }
    .main-navigation {  
        li{                                                                                        
            padding: .5em .5em;                   
            @include min-width(xl) {
                padding: .5em 1em;                    
            }                   
        }
    }
    li {
        display: inline-block;
    }
}
