.icons-map { 
    padding: 4.5em 0;
    .icons-heading-wrapper {
        padding-bottom: 1.5em;
    }
    .arrow {
        position: relative;
    }
    .arrow::after {        
        position: absolute;       
        right: -5px;
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
    }
    h3 {        
        letter-spacing: 4px;                      
        font-weight: 500; 
    }
    .icon-background {
        color: $icon-bg;           
    }
    .map-icon:hover {
        .icon-background {             
            color:#729731;
        }
    }
    .icon {
        color: $icon-color;
    }
    p {
        font-weight: 500;
        padding-top: .5em;
        @media (max-width: $phone-max) {width:105px;} 
    }  
}
@include min-width(sm) {
    .icons-map {
        .arrow::after {
            content: "\f054";
            top: 20%; 
        }
    }
}
@include min-width(md) {
    .icons-map {
        .arrow::after {
            top: 25%;    
        }
        p {
            font-weight: normal;
        }
    }
}
@include min-width(lg) {
    .icons-map {
        .arrow::after {
            top: 30%;    
        }
    }
}
