.overlay-menu {
    width:0%;
    background-color:rgba(58, 65, 154, 0.97);
    z-index: 1000;  
    transition: 0.5s;
}
.close-btn {
    top:.3em;
    right:.8em;
}
.overlay-content {  
    overflow-y: scroll; 
    &::-webkit-scrollbar { 
        display: none;
        -ms-overflow-style: none;
    }
    margin-top:25vh;
    a {
        color:rgb(212, 212, 212);        
        &:hover {
            color:white;    
        }
    } 
    li {       
        line-height: 3em;
    }   
}
