$font-family : 'Open Sans'; /* header font */
$link-color: #6b6b6b; /* navigation */
$icon-bg: #85ad3e; 
$top-navigation-bg: #d7e4e7;
$hero-bg: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),url('pictures/hero.png');
$banner-bg: linear-gradient(rgba(0, 0, 0, 0.56),rgba(0, 0, 0, 0.56)),url('pictures/banner.png');
$banner-text-bg: rgba(58, 65, 154, 0.8);
$banner-text-bg-mobile: rgb(58, 65, 154);
$icon-color: white;
$login-color:#447500;
$main-color: #8e8e8e;
$login-icons-color: #3463bb;

$apply-btn-color: #ff891d;
$enroll-btn-color: #85ad3e;
$collapse-btn-color: #3463bb;

/* ------------ BREAKPOINTS-MAP ------------- */

$phone-max:575px; 

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

/* ---------------- MIXINS ------------------- */

/* breakpoints */
@mixin min-width($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {  
        $breakpoint-value: map-get($breakpoints, $breakpoint);  
        @media (min-width: $breakpoint-value) {
            @content;
        }  
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
/* heights */
@mixin height($heights-map, $height-breakpoints: $breakpoints) {
    @each $height-breakpoint, $height in $heights-map {
        @if $height-breakpoint == null {
            height: $height;
        }
        @else {
            @if map-has-key($height-breakpoints, $height-breakpoint) {
                $height-breakpoint: map-get($height-breakpoints, $height-breakpoint);
            }
            @media (min-width: $height-breakpoint) {
                height: $height;
            }
        }
    }
}