/*      
    Theme Name: Zingo Cash
    Author: Erato
    Description: Zingo Responsive Theme 
    Version: 1.0
    Text Domain: zingo

    style.css MUST exist!!!!!!    
*/
/* header font */
/* navigation */
/* ------------ BREAKPOINTS-MAP ------------- */
/* ---------------- MIXINS ------------------- */
/* breakpoints */
/* heights */
/* lists */
ul li {
  list-style: none;
  padding: 0;
  margin: 0; }

/* links */
a {
  cursor: pointer; }

ul li a:hover, div a:hover {
  text-decoration: none; }

/* hero sections background general  /if bg-position:fixed --> parallax */
.hero-bg {
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

/* fonts */
body h2, body .h2 {
  font-size: 30px;
  padding: 0;
  margin: 0; }
  @media (min-width: 768px) {
    body h2, body .h2 {
      font-size: 35px; } }
  @media (min-width: 992px) {
    body h2, body .h2 {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    body h2, body .h2 {
      font-size: 56px; } }

body h3, body .h3 {
  font-size: 23px;
  padding: 0;
  margin: 0; }
  @media (min-width: 576px) {
    body h3, body .h3 {
      font-size: 25px; } }
  @media (min-width: 768px) {
    body h3, body .h3 {
      font-size: 30px; } }
  @media (min-width: 1200px) {
    body h3, body .h3 {
      font-size: 40px; } }

/* logo */
.logo img {
  max-height: 70px; }
  @media (min-width: 768px) {
    .logo img {
      max-width: 155px;
      max-height: 100px; } }

.footer-logo img {
  max-width: 150px; }
  @media (min-width: 1200px) {
    .footer-logo img {
      max-width: 202px;
      max-height: 127px; } }

.t0 {
  top: 0; }

.r0 {
  right: 0; }

.b0 {
  bottom: 0; }

.text-semi-bold {
  font-weight: 600; }

button {
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
  font-weight: 500; }

.button {
  /* extends btn if bootstr loads first */
  letter-spacing: .5px;
  text-transform: uppercase; }
  .button i {
    color: white; }

.enroll-button {
  font-size: 18px;
  padding: 9px 16px;
  margin: 0 0 5px 0;
  background-color: #85ad3e; }
  @media (min-width: 992px) {
    .enroll-button {
      margin: 0; } }
  @media (min-width: 1200px) {
    .enroll-button {
      font-size: 20px;
      padding: 7px 20px 10px 20px; } }
  .enroll-button:hover {
    background-color: #729731; }

.apply-button {
  background-color: #ff891d;
  padding: 8px 9px;
  font-size: 17px; }
  @media (min-width: 1200px) {
    .apply-button {
      font-size: 20px;
      padding: 5px 9px; } }
  .apply-button:hover {
    background-color: #e27917; }

.collapse-button {
  background-color: #3463bb;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  font-size: 18px; }
  @media (min-width: 768px) {
    .collapse-button {
      width: 40px;
      height: 40px;
      font-size: 20px; } }
  .collapse-button:hover {
    background-color: #254f9c; }

.overlay-menu {
  width: 0%;
  background-color: rgba(58, 65, 154, 0.97);
  z-index: 1000;
  transition: 0.5s; }

.close-btn {
  top: .3em;
  right: .8em; }

.overlay-content {
  overflow-y: scroll;
  margin-top: 25vh; }
  .overlay-content::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; }
  .overlay-content a {
    color: #d4d4d4; }
    .overlay-content a:hover {
      color: white; }
  .overlay-content li {
    line-height: 3em; }

header a {
  text-transform: uppercase; }

header .login-header {
  background-color: #d7e4e7;
  padding: 10px 0; }
  header .login-header li {
    padding: 0px 0px 0px 15px; }
  header .login-header #user-text {
    color: #447500; }
    header .login-header #user-text:hover {
      color: #335701; }
  header .login-header .fa-user, header .login-header .fa-phone {
    color: #3463bb; }

header .main-header {
  padding: 15px 0px; }

header .main-navigation li {
  padding: .5em .5em; }
  @media (min-width: 1200px) {
    header .main-navigation li {
      padding: .5em 1em; } }

header li {
  display: inline-block; }

.banner-div {
  background-color: black; }

.banner {
  background-position: top center;
  opacity: 0.65;
  height: 60vw; }
  @media (min-width: 992px) {
    .banner {
      opacity: 0.44; } }
  @media (min-width: 576px) {
    .banner {
      height: 35vmax; } }
  @media (min-width: 992px) {
    .banner {
      height: 40vmax; } }
  @media (min-width: 1200px) {
    .banner {
      height: 35vmax; } }

.banner-text {
  padding: 20px 0;
  line-height: normal;
  background-color: #3a419a;
  position: relative; }
  @media (min-width: 992px) {
    .banner-text {
      position: absolute; } }
  .banner-text h2 {
    letter-spacing: 1px; }
    @media (min-width: 1200px) {
      .banner-text h2 {
        letter-spacing: 2px; } }

@media (min-width: 992px) {
  .banner-text {
    background-color: rgba(58, 65, 154, 0.8); } }

.icons-map {
  padding: 4.5em 0; }
  .icons-map .icons-heading-wrapper {
    padding-bottom: 1.5em; }
  .icons-map .arrow {
    position: relative; }
  .icons-map .arrow::after {
    position: absolute;
    right: -5px;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900; }
  .icons-map h3 {
    letter-spacing: 4px;
    font-weight: 500; }
  .icons-map .icon-background {
    color: #85ad3e; }
  .icons-map .map-icon:hover .icon-background {
    color: #729731; }
  .icons-map .icon {
    color: white; }
  .icons-map p {
    font-weight: 500;
    padding-top: .5em; }
    @media (max-width: 575px) {
      .icons-map p {
        width: 105px; } }

@media (min-width: 576px) {
  .icons-map .arrow::after {
    content: "\f054";
    top: 20%; } }

@media (min-width: 768px) {
  .icons-map .arrow::after {
    top: 25%; }
  .icons-map p {
    font-weight: normal; } }

@media (min-width: 992px) {
  .icons-map .arrow::after {
    top: 30%; } }

.hero {
  padding: 7em 0;
  background-position: center center;
  line-height: normal; }

.footer-top:nth-child(2) li:last-clild {
  padding-top: 2em; }

.footer-top ul {
  padding: .3em 0 0 0; }

.footer-top li {
  padding-bottom: .3em; }

.footer-top li:last-child {
  padding-bottom: 0; }

.footer-last {
  background-color: #d7e4e7; }
  .footer-last .footer-last-navigation li {
    display: block;
    padding: 0 0 .2em 0; }
  .footer-last .footer-last-copyright {
    color: #7c7c7c; }

@media (min-width: 576px) {
  .footer-top ul {
    padding: 0;
    margin: 0; }
  .footer-last .footer-last-navigation li {
    display: inline-block;
    padding: 0 1em 0 0; } }

@media (min-width: 768px) {
  .footer-logo {
    align-self: center; } }

@media (min-width: 992px) {
  .footer-top li {
    padding-bottom: 0; }
  .footer-last .footer-last-navigation li:last-child {
    padding: 0; }
  .footer-last .footer-last-copyright {
    color: #6b6b6b; } }

body {
  /* header */
  /* login */
  /* main menu */
  /* overlay menu */
  /* sections */
  /* banner */
  /* icons map */
  /* hero image */
  /* footer */
  /* main */
  /* copyrights */ }
  body .login-header ul {
    font-size: 14px; }
    @media (min-width: 1200px) {
      body .login-header ul {
        font-size: 16px; } }
  body .login-header .fa-user, body .login-header .fa-phone {
    font-size: 17px; }
  body .main-header ul {
    font-size: 17px; }
    @media (min-width: 1200px) {
      body .main-header ul {
        font-size: 18px; } }
  body .close-btn {
    font-size: 25px; }
    @media (min-width: 576px) {
      body .close-btn {
        font-size: 35px; } }
    @media (min-width: 768px) {
      body .close-btn {
        font-size: 38px; } }
  body .overlay-content {
    font-size: 18px; }
    @media (min-width: 576px) {
      body .overlay-content {
        font-size: 22px; } }
  body .banner-text p {
    font-size: 16px; }
    @media (min-width: 768px) {
      body .banner-text p {
        font-size: 17px; } }
    @media (min-width: 992px) {
      body .banner-text p {
        font-size: 18px; } }
  body .icons-map .map-icon {
    font-size: 1.6em; }
    @media (min-width: 576px) {
      body .icons-map .map-icon {
        font-size: 2em; } }
    @media (min-width: 768px) {
      body .icons-map .map-icon {
        font-size: 3.5em; } }
    @media (min-width: 992px) {
      body .icons-map .map-icon {
        font-size: 4em; } }
    @media (min-width: 1200px) {
      body .icons-map .map-icon {
        font-size: 6em; } }
  @media (min-width: 576px) {
    body .icons-map .arrow::after {
      font-size: .8em; } }
  @media (min-width: 768px) {
    body .icons-map .arrow::after {
      font-size: 1em; } }
  @media (min-width: 1200px) {
    body .icons-map .arrow::after {
      font-size: 1.5em; } }
  body .icons-map p {
    font-size: 16px; }
    @media (min-width: 768px) {
      body .icons-map p {
        font-size: 20px; } }
    @media (min-width: 992px) {
      body .icons-map p {
        font-size: 25px; } }
    @media (min-width: 1200px) {
      body .icons-map p {
        font-size: 30px; } }
  body .hero p {
    font-size: 16px; }
    @media (min-width: 768px) {
      body .hero p {
        font-size: 18px; } }
    @media (min-width: 992px) {
      body .hero p {
        font-size: 20px; } }
    @media (min-width: 1200px) {
      body .hero p {
        font-size: 24px; } }
  body .footer-top .footer-logo p {
    font-size: 19px; }
    @media (min-width: 1200px) {
      body .footer-top .footer-logo p {
        font-size: 24px; } }
  body .footer-top .logo-replacement p {
    font-size: 17px; }
  body .footer-top ul {
    font-size: 15px; }
    @media (min-width: 992px) {
      body .footer-top ul {
        font-size: 16px; } }
  body .footer-last a {
    font-size: 12px; }
    @media (min-width: 992px) {
      body .footer-last a {
        font-size: 13px; } }

body {
  color: #8e8e8e; }
  body .banner-div h2, body .banner-div p {
    color: white; }
  body .icons-map h3, body .icons-map p, body .icons-map .arrow::after {
    color: #8e8e8e; }
  body a, body header, body footer, body footer p, body footer a {
    color: #6b6b6b; }
    body a:hover, body header:hover, body footer:hover, body footer p:hover, body footer a:hover {
      color: #474747; }
  body .hero h2, body .hero p {
    color: white; }
